<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huishou大臂.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{78,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,126}}</string>
                <key>sourceSize</key>
                <string>{78,126}</string>
            </dict>
            <key>huishou头.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,283}}</string>
                <key>sourceSize</key>
                <string>{263,283}</string>
            </dict>
            <key>huishou头发1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,267},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>huishou头发2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{238,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,188}}</string>
                <key>sourceSize</key>
                <string>{238,188}</string>
            </dict>
            <key>huishou小臂1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,380},{95,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,120}}</string>
                <key>sourceSize</key>
                <string>{95,120}</string>
            </dict>
            <key>huishou小臂2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>huishou屁股.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>huishou筛子01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,549},{99,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,108}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>huishou筛子02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{104,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>huishou筛子03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,580},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>huishou筛子04.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,650},{93,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,104}}</string>
                <key>sourceSize</key>
                <string>{93,104}</string>
            </dict>
            <key>huishou筛子05.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,582},{96,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>huishou筛子06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,484},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>huishou胸.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,242},{174,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,136}}</string>
                <key>sourceSize</key>
                <string>{174,136}</string>
            </dict>
            <key>huishou腰.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,373},{127,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,72}}</string>
                <key>sourceSize</key>
                <string>{127,72}</string>
            </dict>
            <key>筛子.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{102,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{102,108}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>筛子数字2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,477},{101,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{101,108}}</string>
                <key>sourceSize</key>
                <string>{105,114}</string>
            </dict>
            <key>筛子数字3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{102,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{102,107}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>筛子数字4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,380},{102,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,109}}</string>
                <key>sourceSize</key>
                <string>{106,115}</string>
            </dict>
            <key>筛子数字6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,447},{100,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,109}}</string>
                <key>sourceSize</key>
                <string>{100,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huishou.png</string>
            <key>size</key>
            <string>{504,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd1c7c4d045a5519aebd5cc3ec00e91$</string>
            <key>textureFileName</key>
            <string>huishou.png</string>
        </dict>
    </dict>
</plist>
