<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
       <key>frames</key>
       <dict>
            <key>ailisi_1/cshenti02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>ailisi_1/ctoufa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{89,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,79}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>ailisi_1/cwuguan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>ailisi_1/cxiaotui+.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>ailisi_1/cxiaotui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>ailisi_1/cyaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>ailisi_1/dabi+.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>ailisi_1/dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>ailisi_1/datui+.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>ailisi_1/datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>ailisi_1/erduo+.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>ailisi_1/erduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,176},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>ailisi_1/peishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,121},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>ailisi_1/shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,150},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>ailisi_1/toufa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>ailisi_1/toufa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{95,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,79}}</string>
                <key>sourceSize</key>
                <string>{95,79}</string>
            </dict>
            <key>ailisi_1/toufa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,281},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>ailisi_1/toushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{78,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{78,54}</string>
            </dict>
            <key>ailisi_1/weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,229},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>ailisi_1/wuguan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,174},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>ailisi_1/wuguan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,121},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>ailisi_1/wuguan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,424},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>ailisi_1/wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,280},{69,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,137}}</string>
                <key>sourceSize</key>
                <string>{69,137}</string>
            </dict>
            <key>ailisi_1/xiaobi+.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,479},{16,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>ailisi_1/xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,479},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>ailisi_1/xiaotui+.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,479},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>ailisi_1/xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,229},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>ailisi_1/yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,253},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
       </dict>
       <key>metadata</key>
       <dict>
           <key>format</key>
           <integer>2</integer>
           <key>realTextureFileName</key>
           <string>ailisi_1.pvr.ccz</string>
           <key>size</key>
           <string>{512,512}</string>
           <key>smartupdate</key>
           <string>ActorEditor</string>
           <key>textureFileName</key>
           <string>ailisi_1.pvr.ccz</string>
       </dict>
   </dict>
</plist>
